# Ignore compiled Java class files
*.class

# Ignore Maven/Gradle build output
/bin/
/target/
/out/

# Ignore VS Code project settings
.vscode/

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore OS files
.DS_Store
Thumbs.db
